<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /weather/   # IMPORTANT: match your subfolder!
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.html [L]
</IfModule>